#
# yourhostname.domain
#

[ req ]
prompt                  = no
distinguished_name      = server_distinguished_name

[ server_distinguished_name ]
commonName              = *.uagrm.edu.bo
stateOrProvinceName     = Santa Cruz
countryName             = BO
emailAddress            = diplomado@verastegui.net
organizationName        = Universidad Autónoma Gabriel René Moreno
organizationalUnitName  = SCHOOL OF ENGINEERING
